<div class="center" style="padding-top: 4px;padding-bottom: 4px;">
    <h1> Express App : {{title}}</h1>
    <div class="container">
        <form method="POST" action="{{form_action}}" id="formAddFormation">
            <div class="inputbox">
               <input type="text" name="libelle" value="{{data.libelle}}" class="form-control" />
               <span> Libelle</span>
            </div><br>
            <div class="inputbox">
                <input type="text" name="duree" value="{{data.duree}}" class="form-control" />
                <span>Durée</span>
            </div><br>
            <div class="inputbox">
                <input type="text" name="plan_cours" value="{{data.plan_cours}}" class="form-control" />
                <span>Plan de cours</span>
            </div><br>
            <div class="inputbox">
                <input type="text" name="prix" value="{{data.prix}}" class="form-control" />
                <span>Prix</span>
            </div><br>
            <div class="inputbox">
                
                <select id="formateur" name="id_formateur">
                    {{#each datas.formateurs}}
                        {{#compare ../data.id_formateur this.id_formateur operator='=='}}
                            <option value="{{this.id_formateur}}" selected>{{this.nom}} - {{this.prenom}}</option>
                        {{else}}
                            <option value="{{this.id_formateur}}">{{this.nom}} - {{this.prenom}}</option>
                        {{/compare}}
                    {{/each}}
                </select>
                <span>Formateur</span>
            </div> 
            <table class="center">
                <tr>
                    <td>
                        <div class="inputbox">
                            <button>Confirmer la {{libelle}}</button>
                        </div>
                    </td>
                    <td>
                        <div class="inputbox">
                            <button value="" id="delbtn" class="button">Supprimer {{del_label}}</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{{!-- Script de validation du formulaire de modification --}}
<script>
    //var list_formateurs = {{liste}};
    var form = document.getElementById('formAddFormation');
    form.addEventListener('submit', function (evt) {
        var actionPost = "/" + form.action.split('/')[3];
        if (actionPost == "/modifyFormation") form.action += "/{{data.id_formation}}";
        form.submit();
    });
    var btn_del = document.getElementById('delbtn');
    btn_del.addEventListener('click', function (evt) {
        window.location = "/deleteFormation/{{data.id_formation}}";
    });
</script>