<h1> Express App : {{title}}</h1>
<br>
<select name="formateurs" id="formateur">
    {{#compare data null operator="=="}}
    <option value="rien">Il n'y a pas de données dans la base formation</option>
    {{else}}
    <option value="0">Select a formateur to modify his datas</option>
    {{#each data}}
    <option value="{{this._id}}">{{this.nom}}-{{this.prenom}}-{{this.specialite}}</option>
    {{/each}}
    {{/compare}}
</select>
<h2>or</h2><br />
<button id="newFormateur">Create a Formateur</button>
<script>
    var usr = document.getElementById('formateur');
    usr.addEventListener('change', function (evt) {
        window.location = "/formFormateur/" + usr.value;
    });
    var btn_new = document.getElementById('newFormateur');
    btn_new.addEventListener('click', function (evt) {
        window.location = "/newFormateur";
    });
</script>