<h1> Express App : {{title}}</h1>
<br>
<select name="formations" id="formation">
    {{#compare data null operator="=="}}
    <option value="rien">Il n'y a pas de données dans la base formation</option>
    {{else}}
    <option value="0">Select a formations to modify his datas</option>
    {{#each data}}
    <option value="{{this._id}}">{{this.libelle}}-{{this.duree}}-{{this.prix}}-{{this.formateur.nom}}-{{this.formateur.prenom}}</option>
    {{/each}}
    {{/compare}}
</select>
<h2>or</h2><br />
<button id="newFormation">Create a Formation</button>
<script>
    var usr = document.getElementById('formation');
    usr.addEventListener('change', function (evt) {
        window.location = "/formFormation/" + usr.value;
    });
    var btn_new = document.getElementById('newFormation');
    btn_new.addEventListener('click', function (evt) {
        window.location = "/newFormation";
    });
</script>