<h1> Express App : {{title}}</h1>
<ul>
    <li>Nom :.......................... {{data.nom}}</li><br/>
    <li>Prénom :............................ {{data.prenom}}</li><br/>
    <li>Spécialité :....................... {{data.specialite}}</li><br/>
    <li>prix/jour :............................. {{data.prix_jour}}</li><br/>
</ul>