<div class="center" style="padding-top: 4px;padding-bottom: 4px;">
<h1> Express App : {{title}}</h1>
    <form method="POST" action="{{form_action}}" id="formAddUser">
        <table class="center">
            <tr>
                <td style="width:70%">
                    <div class="inputbox">
                        <input type="text" name="name" value="{{data.name}}" class="form-control" />
                        <span>name</span> 
                    </div>
                    <div class="inputbox">
                        <input type="text" name="firstName" value="{{data.firstName}}" class="form-control" />
                        <span>firstName</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="login" value="{{data.login}}" class="form-control" />
                        <span>login</span>
                    </div>
                    <div class="inputbox">
                        <input type="password" name="mdp" value="{{data.mdp}}" class="form-control" />
                        <span>mdp</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="function" value="{{data.function}}" class="form-control" />
                        <span>function</span>
                    </div>
                     <div class="inputbox">
                        <input type="text" name="office" value="{{data.office}}" class="form-control" />
                        <span>office</span>
                    </div>
                    <div class="inputbox">
                       <input type="text" name="date_naiss" value="{{data.date_naiss}}" class="form-control" />
                       <span> date_naiss</span>
                    </div>
                     <div class="inputbox">
                        <button>Confirmer la {{libelle}}</button>
                    </div>
                </td>
                <td>
                    <div class="inputbox">
                       <input type="text" name="addresse1" value="{{data.addresse1}}" class="form-control" />
                       <span> adresse1</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="addresse2" value="{{data.addresse2}}" class="form-control" />
                        <span>adresse2</span>
                    </div>
                    <div class="inputbox">
                       <input type="text" name="cp" value="{{data.cp}}" class="form-control" />
                       <span> code postal</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="city" value="{{data.city}}" class="form-control" />
                        <span>Ville</span>
                    </div>
                    <div class="inputbox">
                        <select id="country" name="code_countries">
                            {{#each datas.countries}}
                                {{#compare ../data.code_countries this.code operator='=='}}
                                    <option value="{{this.code}}" selected>{{this.name_fr}} - {{this.code}}</option>
                                {{else}}
                                    <option value={{this.code}}>{{this.name_fr}} - {{this.code}}</option>
                                {{/compare}}
                            {{/each}}
                        </select>
                        
                    </div>
                    <div class="inputbox">
                        <input type="text" name="mobile_phone" value="{{data.mobile_phone}}" class="form-control" />
                        <span>mobile_phone</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="home_phone" value="{{data.home_phone}}" class="form-control" />
                        <span>home_phone</span>
                    </div>
                    <div class="inputbox">
                         <button value="" id="delbtn" class="button">Supprimer l'{{del_label}}</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
{{!-- Script de validation du formulaire de modification --}}
<script>
    var form = document.getElementById('formAddUser');
    form.addEventListener('submit', function (evt) {
        var actionPost = "/" + form.action.split('/')[3];
        if (actionPost == "/modifyUser") form.action += "/{{data.id_users}}";
        form.submit();
    });
    var btn_del = document.getElementById('delbtn');
    btn_del.addEventListener('click', function (evt) {
        window.location = "/deleteUser/{{data.id_users}}";
    });
</script>