<h1> Express App : {{title}}</h1>
<ul>
    <li>libelle :.......................... {{data.libelle}}</li><br/>
    <li>durée :............................ {{data.duree}}</li><br/>
    <li>plan_cours :....................... {{data.plan_cours}}</li><br/>
    <li>prix :............................. {{data.prix}}</li><br/>
    <li>formateur :........................ {{data.formateur}}</li><br/>
</ul>